@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mackenzie Conroy<br />
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    216.798.5616
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mc20005@ohio.edu">mc200015@ohio.edu</a><br />
</address>