@{
    ViewBag.Title = "MIS4200";
}

<div class="jumbotron">
    <h1>Mackenzie Conroy</h1>
    <p class="lead">Information Systems Consulting Project</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Ohio University Websites Dropdown
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li>a href="https://catalogs.ohio.edu/preview_course_nopop.php?catoid=39&coid=171235">MIS 4200 Course Description</li>
            <li>a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Ohio University's MIS Program</li>
            <li>a href="https://business.ohio.edu/">Ohio University's College of Business</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scrum</h2>
        <p>
            Scrum is a modern approach to project management based on Agile principles. 
            The first part of the class is devoted to readings and quizzes over Scrum 
            concepts which are then applied on the live project druing the second part of the course.
        </p>
        <p><a class="btn btn-default" href="https://www.scrum.org/resources/what-is-scrum">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>MVC - model view controler is a modern approach </p>
        <p>
            @Html.ActionLink("Courses", "Index", "Courses")<br />
            @Html.ActionLink("Students", "Index", "Students")<br />
            @Html.ActionLink("Instructors", "Index", "Instructors")<br />
            @Html.ActionLink("courseDetails", "Index", "courseDetails")<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Live Client Project</h2>
        <p>Over half of the class is a live client project using the tools and tequniques taught in the first half of the semester. The project proceeds through a series of Sprints, each with its own planning, development, review and retrosprctive stages.</p>
        <p><a class="btn btn-default" href=https://centricconsulting.com/">Learn more &raquo;</a></p>
    </div>
</div>